@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.75rem;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.controls {
  width: 800px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-inline-start: 0;
  color: #fff;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 1.25 3rem;
}
